/* Top bar label styling */
.np-cal-top-bar-date-label {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    /*background-color: #333;*/
    padding: 0 5px;
    margin: 0 8px;
}

/* Style for year and month at the top of popup */
.np-cal-year-month-label {
    font-size: 16px;
    font-weight: bold;
    color: #c94114;
    /* Primary color for year and month */
    margin-bottom: 8px;
    text-align: center;
}

/* Circle container for the day and date */
.np-cal-day-date-circle {
    background-color: #ffffff;
    /* Neutral color for the circle */
    color: #000000b6;
    border-radius: 50px;
    padding: 15px;
    width: 50px;
    height: 50px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.np-cal-date-label {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.np-cal-day-label {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

/* Style for the English full date */
.np-cal-english-date-label {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin: 8px 0;
}

/* Style for Tithi and Event labels */
.np-cal-tithi-label,
.np-cal-event-label {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin-top: 4px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.np-cal-custom-popup-container {
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    border-radius: 5px;
    margin: 2px;
    width: 200px;
}

.np-cal-custom-popup-item {
    background-color: #333;
    border-radius: 5px;
}